DB_USER="Usuario do banco"
DB_HOST="Host da conexão: localhost"
DB_DATABASE="Database do projeto"
DB_PASSWORD="Senha do seu banco"
DB_PORT=5432
SECRET_KEY="Chave para ativação do token"
PORT_SERVER=8081
NODE_ENV=development

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587   
MAIL_USER=projetomegaufms@gmail.com
MAIL_PASS=shcbfllucyzjxdqt
VECTOR=88a9a754be34ebffcebef930774baad2
KEY=6b9218fff265bef108b78636d5911cd2cab501fc90057378aa81632a2913f5a4
